.page-header__jumbotron {
  height: 750px;
  padding-top: 200px;
  margin-bottom: 0;
  background-color: #b7c0c5;
  background-repeat: no-repeat;
  background-image: url('../img/jumbotron.png');
  background-size: cover;
  border-radius: 0;
}

.intro {
  height: 485px;
  padding-top: 10px;
  background-color: #f3f5f8;
}