@font-face {
  font-family: "GothamRoundedBook";
  src: url("../fonts/GothamRoundedBook.woff");
  src: url("../fonts/GothamRoundedBook.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GothamRounded-Medium";
  src: url("../fonts/GothamRounded-Medium.woff");
  src: url("../fonts/GothamRounded-Medium.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
