.intro {
  height: auto;
  padding-top: 105px;
  background-color: $color-bg-grey;
}

.intro__title {
  position: relative;
  margin-bottom: 95px;
  font-size: 15px;
  letter-spacing: 2.3px;

  &::before {
    @include triangle;
  }
}

.intro__description {
  margin-bottom: 120px;
  padding-left: 42px;
  padding-right: 42px;
  line-height: 30px;
}

@media (max-width: $mobile-width) {
  .intro {
    padding-top: 80px;
  }

  .intro__description {
    margin-bottom: 70px;
  }
}