.intro {
  height: auto;
  padding-top: 105px;
  background-color: #f3f5f8;
}

.intro__title {
  margin-bottom: 95px;
  font-size: 15px;
  letter-spacing: 2.3px;
}

.intro__description {
  margin-bottom: 120px;
  padding-left: 42px;
  padding-right: 42px;
  line-height: 30px;
}