.list-promo {
  // width: 100%;
}

.list-promo__img {
  margin-bottom: 50px;
}

.list-promo__item {
  padding-right: 0;
}

.list-promo__title {
  margin-bottom: 51px;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.list-promo__description {
  margin-bottom: 120px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 20px;
  letter-spacing: -0.3px;
}

@media (max-width: $mobile-width) {
  .list-promo__description {
    margin-bottom: 60px;
  }
}
