.love {
  margin-top: 100px;
}

.love__title {
  position: relative;
  margin-bottom: 122px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  letter-spacing: 2.3px;

  &::before {
    @include triangle;
  }
}

.list-promo__title {
  position: relative;

  &::before {
    @include line;
  }
}

@media (max-width: $mobile-width) {
  .love {
    margin-top: 70px;
  }

  .love__title {
    margin-bottom: 80px;
  }
}