@mixin triangle {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  bottom: -40px;
  left: 49.35%;
  background-image: url("../img/triangle.png");
  background-repeat: no-repeat;
}

@mixin line {
  position: absolute;
  content: "";
  width: 32px;
  height: 3px;
  top: 32px;
  left: calc(50% - 16px);
  background-color: $color-green;
}

@mixin arrow {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $color-green;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 14px 18px;
}