.problems {
  margin-bottom: 102px;
  background-color: #49463f;
  background-image: url(../img/problems-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "GothamRoundedBook";
  color: white;
}

.problems__title {
  padding-top: 75px;
  padding-bottom: 5px;
  font-size: 40px;
  letter-spacing: 10px;
}

.problems__subtitle {
  position: relative;
  padding-bottom: 135px;
  font-size: 25px;
  letter-spacing: 7px;

  &::before {
    @include arrow;
    top: 65px;
    left: calc(50% - 45px/2);
  }
}

@media (max-width: $mobile-width) {
  .problems__subtitle {

    &::before {
      top: 85px;
    }
  }
}